/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
*/
label{
    color:#FF3300;
    font-weight: bold;
    font-size: 15px;
    font-family: "MS Serif", "New York", serif;
}
h1{
    font-weight: normal;
    color:#FF3300;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 60px;
}
#formDiv {
    position: absolute;
    width: 400px;
    height: 335px;
    z-index: 1;
    left: 843px;
    top: 40px;
}
#logoDiv {
    position: absolute;
    width: 485px;
    height: 365px;
    z-index: 2;
    left: 103px;
    top: 100px;
}
#footDiv {position: absolute;
    left: 604px;
    top: 624px;
    width: 341px;
    height: 29px;
    z-index: 3;
}

#config_table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 600px;
    text-align: center;
    border-collapse: collapse;
    border-top: 7px solid #000000;
    border-bottom: 7px solid #000000;
    margin: 20px;
}
#config_table td {
    background: rgb(255, 255, 255);
    padding: 8px;
}
#config_table thead {
    border: 7px solid #000000;
    padding: 8px;
}

#config_table tbody {
    border: 7px solid #000000;
    padding: 8px;
}

#config_table tr {
    border: 1px dashed #000000;
}